In [1]:
import sqlite3
import pandas as pd
import pickle
from src.DataPreprocessing.DataPreprocessing import DataPreprocessing
from src.FeatureEngineering.FeatureEngineering import FeatureEngineering
from src.PipelineSettings.PipelineSettings import PipelineSettings
from src.PairsIdentification.PairsIdentification import PairsIdentification

In [2]:
PATH = 'src/data/data_PJA.xlsx'

In [3]:
# Read in all time series data from the .xlsx-file 
raw_data, raw_data_train, raw_data_test = DataPreprocessing().load_raw_data_from_xlsx(PATH)

In [4]:
# Should be done from inside the function, together with saving the table time series

# Connect to database
conn = sqlite3.connect('src/data/pairs_trading.db')
cursor = conn.cursor()

raw_data_test.to_sql('test_set_raw', conn, if_exists='replace', index=True)
raw_data_train.to_sql('train_set_raw', conn, if_exists='replace', index=True)


# Commit the changes to the database and close the connection
conn.commit()
conn.close()

In [3]:
# Read in the pairs that go in the pair selection process

# !!!Should read that from sql!!!
pairs_mapping = pd.read_excel(PATH, sheet_name='pairs')

codes_mapping = pd.read_excel(PATH, sheet_name='names')

In [4]:
# Compute statistics (Average crossing time, Cointegration-p-value, hurst coefficient)
identification, selected, unselected = PairsIdentification().generate_identification_stats(pairs_mapping)

In [5]:
# Perform sql-like inner join to only keep pairs mapping for selected pairs
final_pairs_mapping = pairs_mapping.merge(selected, on='pair', how='inner').drop(columns=['area_y'])

In [8]:
final_pairs_mapping.date_min.min()

Timestamp('2009-01-02 00:00:00')

In [6]:
train = FeatureEngineering.prepare_features(final_pairs_mapping, 'train')
test = FeatureEngineering.prepare_features(final_pairs_mapping, 'test')

/Users/PJA/anaconda3/lib/python3.10/site-packages/pandas/core/internals/blocks.py:351: RuntimeWarning: invalid value encountered in log
  result = func(self.values, **kwargs)
/Users/PJA/anaconda3/lib/python3.10/site-packages/pandas/core/internals/blocks.py:351: RuntimeWarning: invalid value encountered in log
  result = func(self.values, **kwargs)
/Users/PJA/anaconda3/lib/python3.10/site-packages/pandas/core/internals/blocks.py:351: RuntimeWarning: invalid value encountered in log
  result = func(self.values, **kwargs)
/Users/PJA/anaconda3/lib/python3.10/site-packages/pandas/core/internals/blocks.py:351: RuntimeWarning: invalid value encountered in log
  result = func(self.values, **kwargs)

Applying Scaler passed as argument
Applying Scaler passed as argument
Applying Scaler passed as argument
Applying Scaler passed as argument
Applying Scaler passed as argument
Applying Scaler passed as argument
Applying Scaler passed as argument
Applying Scaler passed as argument
Applying Scaler passed as argument
Applying Scaler passed as argument
Applying Scaler passed as argument
Applying Scaler passed as argument
Applying Scaler passed as argument
Applying Scaler passed as argument
Applying Scaler passed as argument
Applying Scaler passed as argument
Applying Scaler passed as argument
Applying Scaler passed as argument
Applying Scaler passed as argument
Applying Scaler passed as argument
Applying Scaler passed as argument
Applying Scaler passed as argument

/Users/PJA/anaconda3/lib/python3.10/site-packages/pandas/core/internals/blocks.py:351: RuntimeWarning: invalid value encountered in log
  result = func(self.values, **kwargs)
/Users/PJA/anaconda3/lib/python3.10/site-packages/pandas/core/internals/blocks.py:351: RuntimeWarning: invalid value encountered in log
  result = func(self.values, **kwargs)

Applying Scaler passed as argument

/Users/PJA/anaconda3/lib/python3.10/site-packages/pandas/core/internals/blocks.py:351: RuntimeWarning: invalid value encountered in log
  result = func(self.values, **kwargs)
/Users/PJA/anaconda3/lib/python3.10/site-packages/pandas/core/internals/blocks.py:351: RuntimeWarning: invalid value encountered in log
  result = func(self.values, **kwargs)

Applying Scaler passed as argument
Applying Scaler passed as argument
Applying Scaler passed as argument
Applying Scaler passed as argument
Applying Scaler passed as argument
Applying Scaler passed as argument
Applying Scaler passed as argument
Applying Scaler passed as argument
Applying Scaler passed as argument
Applying Scaler passed as argument
Applying Scaler passed as argument
Applying Scaler passed as argument
Applying Scaler passed as argument
Applying Scaler passed as argument
Applying Scaler passed as argument
Applying Scaler passed as argument
Applying Scaler passed as argument
Applying Scaler passed as argument
Applying Scaler passed as argument
Applying Scaler passed as argument
Applying Scaler passed as argument
Applying Scaler passed as argument
Applying Scaler passed as argument
Applying Scaler passed as argument
Applying Scaler passed as argument
Applying Scaler passed as argument
Applying Scaler passed as argument
Applying Scaler passed as argument
Applying Scaler passed as argument
Applying Scaler passed as argument
Applying Scaler passed as argument
Applying Scaler passed as argument
Applying Scaler passed as argument
Applying Scaler passed as argument
Applying Scaler passed as argument
Applying Scaler passed as argument
Applying Scaler passed as argument
Applying Scaler passed as argument
Applying Scaler passed as argument
Applying Scaler passed as argument
Applying Scaler passed as argument
Applying Scaler passed as argument
Applying Scaler passed as argument
Applying Scaler passed as argument
Applying Scaler passed as argument
Applying Scaler passed as argument

In [ ]:
# Connect to database
conn = sqlite3.connect('src/data/pairs_trading.db')
cursor = conn.cursor()

# Store time series in database
#data.to_sql('time_series', conn, if_exists='replace', index=True)
#data_test.to_sql('test_set_raw', conn, if_exists='replace', index=True)
#data_train.to_sql('train_set_raw', conn, if_exists='replace', index=True)
pairs_mapping.to_sql('pairs_mapping', conn, if_exists='replace', index=False)
#codes_mapping.to_sql('codes_mapping', conn, if_exists='replace', index=False)
#all_pairs_train.to_sql('training_paires', conn, if_exists='replace', index=False)
#all_pairs_test.to_sql('test_paires', conn, if_exists='replace', index=False)


# Commit the changes to the database and close the connection
conn.commit()
conn.close()

In [ ]:
all_pairs_test.pair.max()

15

In [ ]:
data_train.tail()

,NBKCS00(FLOT),NBKCS00(CMONTH),NBKCS00(PS),NBKCS00(VM),LTCCS03(FLOT),LTCCS03(CMONTH),LTCCS03(PS),LTCCS05(FLOT),LTCCS05(PS),LTCCS02(FLOT),...,NGCCS81(PS),NGCCS91(PS),NGCCS23(PS),NGCCS33(PS),NGCCS40(PS),NGCCS50(PS),NGCCS60(PS),NGCCS70(PS),NGCCS90(PS),NGCCS80(PS)
Date,,,,,,,,,,,,,,,,,,,,,
2023-05-29,1000.0,202306.0,-4.27,NaN,1000.0,202308.0,73.01,1000.0,63.11,1000.0,...,2036.9,2053.6,1944.3,1954.0,1982.6,2001.4,2019.9,2036.9,2069.2,2053.6
2023-05-30,1000.0,202306.0,-4.19,50.0,1000.0,202308.0,69.60,1000.0,61.30,1000.0,...,2067.8,2083.3,1968.1,1977.1,1996.7,2015.5,2033.9,2051.1,2083.3,2067.8
2023-05-31,1000.0,202306.0,-4.45,3145.0,1000.0,202308.0,68.24,1000.0,60.52,1000.0,...,2072.6,2088.0,1973.1,1982.1,2001.7,2020.4,2038.9,2055.9,2088.0,2072.6
2023-06-01,1000.0,202307.0,-4.06,1435.0,1000.0,202308.0,70.20,1000.0,61.26,1000.0,...,2086.3,2101.5,1986.5,1995.5,2034.0,2052.9,2069.9,2086.3,2114.5,2101.5
2023-06-02,1000.0,202307.0,-4.18,0.0,1000.0,202308.0,71.84,1000.0,62.02,1000.0,...,2062.0,2077.6,1960.6,1969.6,2008.0,2027.0,2044.6,2062.0,2091.1,2077.6